@model BookEventManager.Shared.DTO.PublicEventsDTO

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(/Images/391393.jpg);">
    <h2>Book Event Manager</h2>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4">
        <h3>Future Events</h3>

        <table class="table">
            <tr>
                <th>
                    @Html.Label("Title")
                </th>
            </tr>

            @foreach (var item in Model.FutureEvents)
            {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Events", new { id = item.EventId }, new { id = item.EventId })
            </td>

            @if (User.Identity.Name.Equals("myadmin@bookevents.com"))
            {
                <th>
                    @Html.ActionLink("Delete", "Delete", "Events", new { id = item.EventId }, null)
                </th>
            }
        </tr>
            }

        </table>
    </div>
    <div class="col-lg-4 col-sm-4">
        <h3>Past Events</h3>

        <table class="table">
            <tr>
                <th>
                    @Html.Label("Title")
                </th>
            </tr>

            @foreach (var item in Model.PastEvents)
            {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Events", new { id = item.EventId }, new { id = item.EventId })
            </td>
            @if (User.Identity.Name.Equals("myadmin@bookevents.com"))
            {
                <th>
                    @Html.ActionLink("Delete", "Delete", "Events", new { id = item.EventId }, null)
                </th>
            }
        </tr>
            }
        </table>
    </div>
</div>
