@model BookEventManager.Shared.DTO.EventDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Email Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.Label("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @if (Model.Type == true)
            {
                @Html.Label("Public");
            }
            else
            {
                @Html.Label("Private");
            }
        </dd>


        @if (Model.Duration > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
        }

        @if (Model.Description != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }

        @if (Model.OtherDetails != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherDetails)
            </dd>
        }

        <dt>
            @Html.Label("Count Of Invited To ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfInvitedTo)
        </dd>

        <dt>
            @Html.Label("Invited To ")
        </dt>

        <dd>
            @if (Model.InvitedTo != null)
            {
                foreach (var e in Model.InvitedTo.Split(','))
                {
                    <label>@e</label><br />
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
    @if (User.Identity.Name.Equals("myadmin@bookevents.com"))
    {
        @Html.ActionLink("| Delete", "Delete", "Events", null, new { id = Model.EventId })
    }
</p>

<div>
    @{
        Html.RenderAction("Create", "EventComments", new { EventId = Model.EventId });
    }
</div>

<div>
    @{
        Html.RenderAction("Details", "EventComments", new { EventId = Model.EventId });
    }
</div>
